.container, .text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 750px;
}

.container {
	max-width: 1280px;

	&.max-container {
		max-width: 100%;
		padding: 0;
	}
}

.content {
	background: $background;
	padding: 1px 0 0 0;
	position: relative;
}

section {
	padding: 80px 0;
}

section + section {
	padding-top: 0;
}

.page {
	margin-bottom: 0;
	padding-bottom: 80px;
}

.center-text {
	text-align: center;
}
